[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
ExecStart=/usr/local/bin/kubelet \
    --config={{ kubelet_data_dir }}/kubelet-config.yaml \
    --kubeconfig={{ kubelet_data_dir }}/kubeconfig \
    --v=2 \
    --hostname-override={{ inventory_hostname }} \
    --fail-swap-on=false
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target