[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/local/bin/etcd \
  --name {{ inventory_hostname }} \
  --cert-file={{ etc_etcd_dir }}/kubernetes.pem \
  --key-file={{ etc_etcd_dir }}/kubernetes-key.pem \
  --peer-cert-file={{ etc_etcd_dir }}/kubernetes.pem \
  --peer-key-file={{ etc_etcd_dir }}/kubernetes-key.pem \
  --trusted-ca-file={{ etc_etcd_dir }}/ca.pem \
  --peer-trusted-ca-file={{ etc_etcd_dir }}/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ ansible_default_ipv4.address }}:2380 \
  --listen-peer-urls https://{{ ansible_default_ipv4.address }}:2380 \
  --listen-client-urls https://{{ ansible_default_ipv4.address }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ ansible_default_ipv4.address }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster kube-controller-1=https://{{ hostvars['kube-controller-1']['ansible_host'] }}:2380,kube-controller-2=https://{{ hostvars['kube-controller-2']['ansible_host'] }}:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd 
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target