{
    "CN": "Kubernetes",
    "key": {
        "algo": "rsa",
        "size": 2048

    },
    "names": [
        {
            "C": "Greece",
            "L": "Evoia",
            "O": "Kubernetes",
            "OU": "CA",
            "ST": "Chalcis"
        }
    ]
}