{
    "CN": "{{ kube_components[component].cn }}",
    "key": {
        "algo": "rsa",
        "size": 2048

    },
    "names": [
        {
            "C": "Greece",
            "L": "Evoia",
            "O": "{{ kube_components[component].o }}",
            "OU": "{{ kube_components[component].ou }}",
            "ST": "Chalcis"
        }
    ]
}