{
    "CN": "system:node:kube-worker-1",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "Greece",
            "L": "Evoia",
            "O": "system:nodes",
            "OU": "Kubernetes The Hard Way",
            "ST": "Chalcis"
        }
    ]
}